.galerySection-container {
  background-color: var(--body-bg-color);
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-text {
  display: flex;
  flex-direction: column;
}

.content-text h1,
.content-text h2,
.content-data p {
  color: var(--primary-text-color);
}

.content-text h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--spacing-35);
  padding-top: var(--spacing-20);
}

.content-text h2 {
  text-align: center;
  padding: var(--spacing-20) 0;
  font-size: var(--spacing-15);
}

.content-data {
  display: flex;
  flex-direction: column;
}

.content-data p {
  line-height: 27px;
  font-family: var(--text-font-secondary);
}

.content-data-button {
  max-width: 400px;
  padding: var(--spacing-20);
  margin-top: var(--spacing-30);
  font-size: var(--size-15);
}

@media (min-width: 1240px) {
  .galerySection-container {
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    padding: var(--spacing-80) 0;
  }

  .content-data,
  .content-text {
    width: 40%;
  }

  .content-text h1 {
    width: 300px;
    margin: 0 auto;
    font-size: var(--size-35);
    padding: 0;
  }
}
